body {
  margin: 0 auto;

}

.grid-container {
  font-size: 1rem;
  text-align: center;
  display: grid;
  height: 600px;
  width: 100%;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));

}

.card img {
  margin-top: 20px;
  border: 1px solid black;
  max-width: 200px;
  max-height: 175px;
  border-radius: 10px;
}

.search-panel {
  height: 60px;
  margin: 10px;
  width: 500px;
  border-radius: 25px;
}

.inline {
  float: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: rgb(66, 155, 140);
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}